@import "tailwindcss";

@theme {
  --color-text: #e0ab0ecc;
  --color-secondary-text: #ff0000d6;
  --color-button-text: #bd003a;
  --color-button-bg: #ffbe00;
  --color-secondary: #ff0000d6;
  --color-bg: #514144;
}
